.workspace-layout {
    margin: 0.5em;
}

.workspace-indicator {
    font-size: 0.85em;
    color: #888;
}

.workspace-nav-button,
.workspace-indicator {
    margin: 0 0.25em;
    padding: 0 0.75em;
    border-radius: 0.5em;
    text-align: center;
}

.workspace-indicator.active,
.workspace-nav-button:hover, 
.workspace-indicator:hover {
    color: #fff;
    background-color: dodgerblue;
}